@model FocusFlow.Models.TaskItemViewModel

<div class="task @(Model.IsCompleted ? "complete" : "") @(Model.IsActive ? "active" : "")">
    <form asp-controller="@Model.Controller"
        asp-action="SetTaskComplete"
        asp-route-id="@Model.Id"
        asp-route-complete="@(!Model.IsCompleted)"
        method="post"
    >
        <button type="submit" class="task-set-complete"></button>
    </form>

    <form asp-controller="@Model.Controller"
          asp-action="SetTaskActive"
          asp-route-id="@Model.Id"
          method="post"
    >
        <button class="task-set-active"></button>
    </form>

    <form asp-controller="@Model.Controller"
          asp-action="UpdateTask"
          asp-route-id="@Model.Id"
          method="post"
    >
        <input
            type="text"
            name="Title"
            class="task-title"
            value="@Model.Title"
            disabled
        />

        <textarea 
            name="Description"
            class="task-description" 
            disabled
        >@Model.Description</textarea>

        <input
            type="date"
            name="DueDate"
            class="task-due-date"
            value="@Model.DueDate.ToString("yyyy-MM-dd")"
            disabled
        />

        <div class="task-time-logged">
            <input type="number"
                   name="DisplayMinutes"
                   class="task-minutes-logged"
                   value="@Model.DisplayMinutes"
                   min="0"
                   step="1"
                   disabled
            />:<input type="number"
                   name="DisplaySeconds"
                   class="task-seconds-logged"
                   value="@Model.DisplaySeconds"
                   min="0"
                   max="59"
                   step="1"
                   disabled
            />
        </div>
        
        <button type="button" class="task-edit" onclick="enableEdit(this)">[E]</button>
        <button type="submit" class="task-save" style="display: none;">[S]</button>
    </form>

    <form asp-controller="@Model.Controller" asp-action="DeleteTask" asp-route-id="@Model.Id" method="post">
        <button type="submit" class="task-delete"></button>
    </form>
</div>