@model FocusFlow.Models.TaskItemViewModel

<div class="task long-task @(Model.IsCompleted ? "complete" : "")">
    <form
        asp-controller="TaskManager"
        asp-action="SetTaskComplete"
        asp-route-id="@Model.Id"
        asp-route-complete="@(!Model.IsCompleted)"
        method="post"
    >
        <button type="submit" class="task-set-complete"></button>
    </form>

    <button class="task-set-active"></button>

    <input
        type="text"
        class="task-title"
        value="@Model.Title"
        disabled/>

    <textarea 
        class="task-description"
        disabled
    >
        @Model.Description
    </textarea>

    <input
        type="date"
        class="task-due-date"
        value="@Model.DueDate.ToString("yyyy-MM-dd")"
        disabled/>

    <div class="task-time-logged">
        <input type="number"
               class="task-minutes-logged"
               value="@Model.DisplayMinutes"
               disabled/>
        :
        <input type="number"
               class="task-seconds-logged"
               value="@Model.DisplaySeconds"
               disabled/>
    </div>

    <form asp-controller="TaskManager" asp-action="DeleteTask" asp-route-id="@Model.Id" method="post">
        <button type="submit" class="task-delete"></button>
    </form>
</div>