@model FocusFlow.Models.TaskListViewModel

<div class="card" style="min-height: 100%;">
    <div class="task-list-header-line">
        <h2 class="task-list-header">@Model.Header</h2>
        
        @if (@Model.ShowDateSelector)
        {
            <input
                class="task-list-date-selector"
                name="date"
                type="date"
                value="@Model.StartDate?.ToString("yyyy-MM-dd")"
            />
        }
    </div>

    <div class="task-list" style="height: 100%;">
        <div class="task-sublist active">
            <div class="task-sublist-header">Active Task</div>
            <div class="task-sublist-content">
                @foreach (var taskView in @Model.ActiveTaskItems)
                {
                    @await Html.PartialAsync("Components/Tasks/_TaskItem", taskView)
                }
            </div>
        </div>
        
        <div class="task-sublist incomplete">
            <div class="task-sublist-header">Incomplete Tasks</div>
            <div class="task-sublist-content">
                @foreach (var taskView in @Model.IncompleteTaskItems)
                {
                    @await Html.PartialAsync("Components/Tasks/_TaskItem", taskView)
                }
            </div>
        </div>
        
        <div class="task-sublist complete">
            <div class="task-sublist-header">Complete Tasks</div>
            <div class="task-sublist-content">
                @foreach (var taskView in @Model.CompleteTaskItems)
                {
                    @await Html.PartialAsync("Components/Tasks/_TaskItem", taskView)
                }
            </div>
        </div>

        <button class="js-task-create task-create">New Task</button>
    </div>
</div>