@model FocusFlow.Models.TaskListViewModel

<div class="card" style="min-height: 100%;">
    <div class="task-list-header-line">
        <h2 class="task-list-header">@Model.Header</h2>
        
        @if (@Model.ShowDateSelector)
        {
            <input
                class="task-list-date-selector"
                name="date"
                type="date"
                value="@Model.StartDate?.ToString("yyyy-MM-dd")"
            />
        }
        
        <form asp-controller="@Model.Controller" asp-action="Index" method="get" >
            <input class="task-list-completed-toggle" type="hidden" name="showCompleted" value="@(Model.ShowCompleted ? "false" : "true")" />
            <button class="task-list-completed-toggle" type="submit" class="accent-1" title="Toggle Completed Tasks">
                @(Model.ShowCompleted ? "[✓]" : "[C]")
            </button>
        </form>
        
    </div>

    <div class="task-list" style="height: 100%;">
        @foreach (var taskView in @Model.TaskItems)
        {
            @await Html.PartialAsync("Components/Tasks/_TaskItem", taskView)
        }

        <form asp-controller="@Model.Controller" asp-action="CreateTask" method="post">
            <button type="submit" class="task-create">New Task</button>
        </form>
    </div>
</div>